node_modules
.prettierrc
package.json
package-lock.json
.eslintrc.json
.vscode/settings.json
MMA-2020-MaikeAdolph-LucaGutzeit-ChristianKaminski.zip
MMA-2020-MaikeAdolph-LucaGutzeit-ChristianKaminski/
