* {
    padding: 0;
    margin: 0;
}

.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.rectangle {
    border-radius: 10px;
    height: 227px;
    width: 255px;
    background-color: #cfcfcf;
}

.login {
    padding-top: 7px;
    padding-left: 20px;
    padding-right: 20px;
}

.anmelden {
    padding-top: 50px;
}

.button {
    padding-top: 50px;
    padding-left: 50px;
}

.Karte {
    width: auto;
    display: grid;
    overflow-y: inherit;
    float: left;
    padding-left: 50px;
    padding-top: 25px;
    padding-bottom: 5px;
}

.ScoreBoard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
}

.chat_include {
    height: 100%;
    width: 100%;
    /*z-index: 1; */
    /*  top: 0; */
    /**  right: 0;*/
    float: right;
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
    padding-top: 50px;
    float: right;
    padding-left: 50px;
}

.container{
  width: 100%;
  height: 100%;
  padding-top: 10px;
}
.Brett_rectangel{
  border-radius: 10px;
  height: 650px;
  width: 650px;
  background-color: #9c92a2;

}
.Brett{
  padding-bottom: 10px;
}

.game_chat{
  border-radius: 10px;
  background-color: #966e81;
}
