body {
    height: 100vh;
    background: url("../img/Schach.png") fixed center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
