* {
    padding: 0;
    margin: 0;
}

.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.rectangle {
    border-radius: 10px;
    height: 227px;
    width: 255px;
    background-color: #cfcfcf;
}

.login {
    padding-top: 7px;
    padding-left: 20px;
    padding-right: 20px;
}

.anmelden {
    padding-top: 50px;
}

<<<<<<< HEAD
.button{
  float: right;
  padding-bottom: 50px;
  padding-top: 50px;
  padding-right: 50px;
}

.Karte{
  padding-top: 50px;
  padding-left: 50px;
=======
.ScoreBoard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 50px;
  padding-left: 200px;
  padding-right: 200px;

>>>>>>> develop
}
