body{
  background: url('https://d53j7mnhlzrdg.cloudfront.net/lesson/rzAFgzI5IHMEXnIS7kIFPjBxn8P0dr.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover
}
