palette1 {
    --light-shades: #faf9f9;
    --light-accent: #898092;
    --main-brand-color: #9c92a2;
    --dark-accent: #966e81;
    --dark-shades: #27232a;
}

pallete2 {
    --light-shades: #faf9f9;
    --light-accent: #898092;
    --main-brand-color: #9c92a2;
    --dark-accent: #966e81;
    --dark-shades: #27232a;
}
